{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% include 'home/_carousel.html.twig' %}
    <div class="container mt-5">
        <h2> Bienvenue sur Mamie Cuisine </h2>
    </div>
{% endblock %}
