{% extends 'admin/base-admin.html.twig' %}

{% block title %}Liste des recettes de mamie cuisine{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h3> Liste des recettes de mamie cuisine</h3>
        <a href="{{ path('admin_recipe_new') }}" class="btn btn-success ">Ajouter une recette</a>
        <hr/>
        <div class="row">
            {% for recipe in recipes %}
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.title }}</h5>
                            <p class="card-text">{{ recipe.content|slice(0, 180) ~ '...' }}</p>
                            <a href="{{ path('admin_recipe_show', {'slug': recipe.slug, 'id': recipe.id}) }}" class="btn btn-primary">Voir la recette</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
