{% extends 'base.html.twig' %}

{% block title %}Liste des recettes de mamie cuisine{% endblock %}

{% block body %}
    <div class="container">
        <h3> Liste des recettes de mamie cuisine</h3>
         {% for recipe in recipes %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p class="card-text">{{ recipe.content }}</p>
                    <a href="{{ path('app_recipe_show', {'slug': recipe.slug, 'id': recipe.id}) }}" class="btn btn-primary">Voir la recette</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
